
:root{
    --color-one:#d9d9d9;
    --color-two:#bbb;
    --color-three:#0d0d0d;
    --color-four:#c9c9c9;
    --color-five:gray;
}
.music-player a{
    color:var(--color-three);
}

img:hover{
    cursor:pointer;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1;
}


/* FIXED BUTTONS */
.fixed-buttons{
    position: fixed;
    display:flex;
    top:90%;
    left:95%;
}

.fixed-buttons button{
    width:28px;
    height:28px;
    border-radius: 50%;
    text-align: center;
    background: #f2f2f2;
    border:1px solid #f2f2f2;
    color:#0d0d0d;
    font-size:1.1em;
    display:flex;
}

.jump-to-player:hover::before{
    position: fixed;
    content:'jump to player';
    margin-left:-120px;
    margin-top:2.5px;
    width:100px;
    height:20px;
    border-radius:10px;
    background:#0d0d0d;
    color:#f2f2f2;
    font-size:0.7em;
    z-index:5;
}

/* FIXED BUTTONS */


.main-container{
    width:95%;
    height:100%;
    background:var(--color-one);
    border-radius:5px;
    margin:2.5%;
}

html{
    scroll-behavior: smooth;
    color:var(--color-three);
}

::-webkit-scrollbar {
    width: 0px;
}

/* NAVBAR */
nav{
    width:100%;
    height:100px;
    background:var(--color-one);
}

.links{
    position:absolute;
    top:5%;
    left:3%;
}

.links a{
    font-size:2em;
    margin-left:50px;
    color:var(--color-three);
}

.links a:hover{
    color:var(--color-three);
    text-decoration: none;
}

.socials{
    position: relative;
    width:200px;
    display:flex;
    flex-direction: row;
    margin-left:85%;
}

.socials img{
    margin-left:10px;
    width:30px;
    height:30px;
}
/* NAVBAR */

/* BLOCK 1 */
.block{
    width:100%;
    background:var(--color-four);
}

.first{
    height:80%;
}

#text{
    margin-top:-23%;
}

.first img{
    width:400px;
    height:400px;
    margin-top:-2%;
}

#text h3,#text h6{
    color:var(--color-three);
    margin-left:40%;
}

#text button{
    margin-left:40%;
    width:150px;
    height:40px;
    border:0;
    border-radius:5px;
    background:var(--color-one);
}

/* BLOCK 1 */

/* BLOCK 2 */
.cover{
    margin-left:1.5%;
    margin-top:2%;
    width:250px;
    height:250px;
    border-radius:5px;
    border:1px solid white;
    padding:5px;
}
/* BLOCK 2 */


/* BLOCK 3 */
.third{
    background:var(--color-four);
    height:700px;
}
.tabs-toggle{
    width:100%;
    text-align: center;
}

.tabs-toggle button,.three-boxes button{
    background:var(--color-two);
    border:1px solid var(--color-two);
    border-radius:5px;
    width:150px;
    height:40px;
}

.tabs-toggle button:hover{
    background:#f2f2f2;
}

.list{
    margin-left:33%;
    margin-top:3%;
    width:35%;
    height:450px;
    background:var(--color-one);
    border-radius:5px;
    text-align: center;
}

.list span{
    font-size:1.05em;
}

.list span:hover{
    cursor:pointer;
    font-size:1.1em;
}


/* BLOCK 3 */

/* BLOCK 4 */
.fourth{
    background:var(--color-two);
    height:140%;
}

.fourth form{
    margin-left:40px;
    display:flex;
    flex-direction: column;
}

.fourth form input,.three-boxes{
    width:90%;
    height:50px;
    margin-left:2.5%;
    margin-top:10px;
    padding:10px;
    border:1px solid transparent;
    background:var(--color-one);
    text-align: center;
    font-style:italic;
    border-radius:5px;
}

.fourth span{
    text-align: center;
    margin-top:10px;
}

.three-boxes{
    width:90%;
    height:100px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top:10px;
}

.three-boxes button{
    width:30%;
    height:70px;
    margin-left:10px;
}

#searchbox:focus{
    background:var(--color-four);
}

 /*tabs bullshit*/
  
  .tabbed {
    width: 90%;
    margin-left:7.5%;
  }
  
  .tabbed > input {
    display: none;
  }
  
  .tabbed > label {
    display: block;
    justify-content: center;
    float: left;
    width:23%;
    padding: 12px 20px;
    margin-right:5px;
    cursor: pointer;
    transition: background-color .3s;
    text-align: center;
  }
  
  .tabbed > label:hover,
  .tabbed > input:checked + label {
    background: var(--color-four);
  }
  
  .tabs {
    clear: both;
    perspective: 100%;
  }
  
  .tabs > div {
    width: 80%;
    height:700px;
    position: absolute;
    border: 2px solid var(--color-one);
    padding: 10px 30px 40px;
    line-height: 1.4em;
    opacity: 0;
    transform: rotateX(-20deg);
    transform-origin: top center;
    transition: opacity .3s, transform 1s;
    z-index: -2;
    overflow-y:auto;
  }
  
  #tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
  #tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
  #tab-nav-3:checked ~ .tabs > div:nth-of-type(3),
  #tab-nav-4:checked ~ .tabs > div:nth-of-type(4){
    transform: rotateX(0);
    opacity: 1;
    z-index: 0;
  }
  
  /*tabs bullshit*/

  .post-songs{
      position: relative;
      width:100%;
      height:auto;
      background:var(--color-one);
      border-radius:5px;
      padding:20px;
      padding-left:30px;
  }

  .top-box{
      margin-top:10px;
      display:flex;
      width:80%;
      justify-content: space-between;
  }

  .top-box h2{
      width:250px;
  }

  .top-box h4{
      margin-top:7px;
      width:300px;
  }

  .play img,.add img,.expand img{
      width:30px;
      height:30px;
  }
  .play{
      margin-left:30px;
  }

  .expand{
      position: absolute;
      margin-left:90%;
      background:transparent;
      border:1px solid transparent;
    }

  .bottom-box{
      display:none;
  }

  .bottom-box hr{
      position: absolute;
      width:95%;
      margin-left:0;
  }

  .bottom-box img{
    width:250px;
    height:250px;
  }

  .bottom-box img:hover{
      transform: scale(1.1);
      cursor:pointer;
  }

  .meta-data-songs{
      display:flex;
      flex-direction: column;
      justify-content: center;
  }

  .meta-data-songs span{
      text-align: left;
      margin-left:50px;
  }


  .post-users{
      position: relative;
      width:100%;
      background:var(--color-one);
      border-radius:5px;
      padding:5px;
  }

  .post-users img{
      width:70px;
      height:70px;
      margin-left:5%;
      margin-top:5px;
      border-radius:5px;
  }


  .post-users .expand{
      width:30px;
      height:30px;
      position: initial;
  }

  .expand:hover{
      cursor:pointer;
  }
  
  .user-preview{
      width:100%;
      display:Flex;
      font-size:1.9em;
  }

  .user-preview span{
      margin-top:25px;
  }
  .user-preview .expand{
      margin-top:20px;
      margin-left:10%;
  }


  .user-fullview{
      position: relative;
      width:100%;
      height:400px;
      display:none;
      background:var(--color-one);
  }

  .user-fullview hr{
      width:90%;
  }

  .bio{
      width:90%;
      text-align: center;
      margin-left:5%;
  }

  .user-songs,.user-playlists{
      position: absolute;
      width:30%;
      height:auto;
      display:flex;
      flex-direction: column;
      text-align:center;
      font-style: oblique;
  }

  .user-songs h4,.user-playlists h4{
      font-weight: bolder;
  }

  .user-songs{
      margin-left:10%;
  }

  .user-playlists{
      margin-left:60%;
  }

/* BLOCK 4 */

/* BLOCK 5*/
.fifth{
    background:var(--color-four);
    height:auto;
}

.theme-content{
    margin-left:50px;
    display:flex;
    flex-direction: row;
}

.theme-content button{
    margin-left:10px;
    width:130px;
    height:40px;
    border:1px solid transparent;
    border-radius:5px;
    padding:5px;    
}

.profile-buttons{
    width:20%;
    margin-left:45%;
    display:flex;
    flex-direction: row;
}

.profile-content{
    margin-left:4%;
}

.profile-buttons button{
    width:70px;
    height:35px;
    font-size:1.1em;
    border:transparent;
    border-radius:5px;
}

.profile-picture{
    width:200px;
    height:200px;
    border:transparent;
    border-radius: 5px;
}

#upload{
    position: absolute;
    margin-left:-15%;
    margin-top:16%;
    content:'';
}

.upload-content{
    margin-top:10%;
    margin-left:4%;
}


.bio-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left:32.5%;
    margin-top:-18.5%;
}

.bio-content textarea{
    padding:5px;
    width:400px;
    margin-top:10px;
    height:200px;
    border:transparent;
    border-radius:5px;
    padding:5px;
}

.initial-content{
    position: absolute;
    margin-left:69%;
    margin-top:-18%;
    display:flex;
    flex-direction: column;
}

.initial-content input{
    border:transparent;
    border-radius: 5px;;
    height:40px;
    margin-top:20px;
    padding:10px;
}

.songname{
    border:transparent;
    border-radius: 5px;
    width:250px;
    height:30px;
    padding:5px;
}

.upload-content button{
    margin-left:42.5%;
    margin-top:5px;
    width:100px;
    height:30px;
    border:transparent;
    border-radius: 5px;
}
/* BLOCK 5*/

/* BLOCK 6 */

.sixth{
   position: relative;
   background:var(--color-two);
   height:400px; 
   z-index:-2;
}

.sixth img{
    width:150px;
    height:150px;
}

.main-flex{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.secondary-flex{
    margin-left:5%;
    width:20%;
    height:100%;
    display:flex;
    flex-direction:column;
    text-align: center;
}

.sixth h4{
    margin-left:-105px;
    margin-top:10px;
}

/* BLOCK 6 */

/* FINAL BLOCK */

.final-block{
    width:100%;
    height:150px;
    background:var(--color-four);
    margin-top:5%;
}

.final-block h3{
    position: absolute;
    margin-top:25px;
    margin-left:47%;
}

.final-block div{
    position: absolute;
    margin-top:80px;
    width:90%;
    display:flex;
    flex-direction: row;
    margin-left:36%;
}

.final-block img{
    width:40px;
    height:40px;
    margin-left:2%;
}

/* FINAL BLOCK */
